body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 0;
}
header {
    background-image: url(body_bg.png);
    padding: 10px 0 10px 10px;
}
footer{
    position: absolute;
    bottom: 0;
    padding: 20px;
    left: 45%;
}
main{
    padding-left: 10px;
}
p{
    width: 50%;
}